<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/js/jquery-1.11.0.js"> </script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/love.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<div class="head-logo">
					故事最后天空放了晴
				</div>
				<div class="head-content">
					{% include navigation.html %}
				</div>
				
			</div>
		</div>
	</nav>

	<div class="posts_div">
		{{ content }}
		<div class="sidebar-toggle">
			<span class="" id="mobile-nav-taggle">
				更多
			</span>
		</div>
		<script type="text/javascript">
			$("#mobile-nav-taggle").click(function(){
				var menu = $("#mobile-menu");
				if (menu.hasClass("sidebar-none")) {
					menu.removeClass("sidebar-none");
					menu.addClass("sidebar");
				}else{
					menu.removeClass("sidebar");
					menu.addClass("sidebar-none");
				}

			})
		</script>
		<div id="mobile-menu" class="sidebar-none">
			<ul>
				<li>a</li>
			</ul>
		</div>
	</div>

	<div id="back-to-top" class="back-to-top">
		<i class="fa fa-arrow-up"></i>
	</div>

</body>
</html>